<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GiveCRMAdmin.IntegrationTests" connectionString="Data Source=IntegrationTestDB.sdf;Persist Security Info=False"/>
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider,System.Web.Providers" connectionStringName="GiveCRMAdmin.IntegrationTests"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
             applicationName="GiveCRM" />
      </providers>
    </membership>
  </system.web>
</configuration>